<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | PocketSaver</title>
	<link rel="stylesheet" type="text/css" href="/style/style.css">
</head>

<body>
    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="profpic">
            <img class="profpic" src="img.jpg" onerror="this.src='../images/noprofpic.png';" >
            <h4>
                <%= object %>
            </h4>
            <hr>
            <div class="links">
                <a href="/home"><h5>Home</h5></a>
                <a href="/logbook"><h5>Logbook</h5></a>
                <a href="/analytics"><h5>My Analytics</h5></a>
                <br><br><br><br><br><br>
                <a href="/settings"><h6>Settings</h6></a>
                <a href="/"><h6>Sign-Out</h6></a>
                <a href="/help"><h6>Help</h6></a>
                <h6><b>Contact Us</b></h6>

            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="full">
            <br><br><br><br><br><br><br><br><br><br><br>
            <h1>
                This website was created by <br>
                <b>ICS2609</b><br>
                <b>3ISB - GROUP 4</b> <br>
            </h1>
            <center>
                <p>
                    MOSO, King Aaron
                    <br>
                    <sup>Project Manager</sup>
                    <br>
                    RAMIREZ, Ella Dianne
                    <br>
                    <sup>Requirement Analysis, Quality Assurance Engineer</sup>
                    <br>
                    REY LARA, Ana Louisse
                    <br>
                    <sup>UI/UX Designer</sup>
                    <br>
                    KONG, Kevin
                    <br>
                    <sup>Web Developer</sup>
                </p>
            </center>
        </div>
    </div>
</body>