<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings | PocketSaver</title>
	<link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>

<body>
    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="profpic">
            <img class="profpic" src="img.jpg" onerror="this.src='../../images/noprofpic.png';" >
            <h4>Profile Name</h4>
            <hr>
            <div class="links">
                <a href="/home"><h5>Home</h5></a>
                <a href="/logbook"><h5>Logbook</h5></a>
                <a href="/analytics"><h5>My Analytics</h5></a>
                <br><br><br><br><br><br>
                <h6><b>Settings</b></h6>
                <a href="/"><h6>Sign-Out</h6></a>
                <a href="/help"><h6>Help</h6></a>
                <a href="/contactus"><h6>Contact Us</h6></a>
            </div>
        </div>
    </div>

<!-- CONTENT -->
    <div class="content">
        <div class="full">
            <div class="centered">
			<br><br><br><br><br><br><br><br><br><br><br><br>
			<h1> Edit Money Spent Category </h1>
			<center>
				<form>
					<span class="labelboxbeside">
						<label for="editSpentCat">Title</label>
					</span>
					<input id="tbox" type="text" name="editSpentCat">
					
					<br><br>
					<span class="labelboxbeside">
						<label for="editSpentCatBudget">Amount</label>
					</span>
					<input id="tbox" type="number" name="editSpentCatBudget">
					<br><br>
					
					<input id="discardButton" type="reset" value="Discard Category">
					<input id="saveButton" type="submit" value="Save Category">
				</form>
			</center>
			</div>
        </div>
    </div>
</body>