<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help | PocketSaver</title>
	<link rel="stylesheet" type="text/css" href="/style/style.css">
</head>

<body>
    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="profpic">
            <img class="profpic" src="img.jpg" onerror="this.src='../images/noprofpic.png';" >
            <h4><%= object %></h4>
            <hr>
            <div class="links">
                <a href="/home"><h5>Home</h5></a>
                <a href="/logbook"><h5>Logbook</h5></a>
                <a href="/analytics"><h5>My Analytics</h5></a>
                <br><br><br><br><br><br>
                <a href="/settings"><h6>Settings</h6></a>
                <a href="/"><h6>Sign-Out</h6></a>
                <h6><b>Help</b></h6>
                <a href="/contactus"><h6>Contact Us</h6></a>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="full">
            <br><br><br>
            <h1><b>Frequently Asked Questions</b></h1>
            <center>
                <p>
                    <b> Question 1: <br>
                        Can I edit my profile?
                        </b> <br>
                        Yes. Just go to Settings and you can edit your profile as well as the amount of Savings you want to save.
                </p>

                <p>
                    <b> Question 2: <br>
                        How can I create a new entry if I received money from someone?
                        </b> <br>
                        Go to the Logbook tab and then click the +New Money Received Entry in the Money Received table and you will now be capable of creating a new entry. You can also edit your entries by clicking on the meatballs menu (the three dots (...) located on the top right side of your Money Received table.) and then click the Edit where you will be redirected to the editing page.
                </p>

                <p>
                    <b> Question 3: <br>
                        Can I list down the purpose and date when I spent my money?
                        </b> <br>
                        Yes. Go to the Logbook tab and then click the +New Money Spent Entry and you will now be capable of listing down your expenses. The date of your entry will be listed as to when you added it to your Money Spent table. You can also edit your entries by clicking on the meatballs menu (the three dots (...) located on the top right side of your Money Spent table.) and then click the Edit where you will be redirected to the editing page.
                </p>

                <p>
                    <b> Question 4: <br>
                        Can I see my past entries of received money and spent money?
                        </b> <br>
                        Yes. You can see your recent logs on your Home page. To see all of your entries, you can click on the See Full Logbook or just click on the Logbook tab in the sidebar.
                </p>

                <p>
                    <b> Question 5: <br>
                        What do the graphs in the Analytics Page represent?
                        </b> <br>
                        <b>Target Savings:</b> This gauge helps you track your spendings and savings simultaneously. The needle will show you whether you are spending over your budget or if your savings goal is gradually being achieved. <br> <br>

	                    <b>Total Savings to Date:</b> This line graph displays all your savings on a monthly basis by default. This way, you can compare your savings per month.<br> <br>

	                    <b>Total Spendings to Date:</b> This line graph displays all your spendings on a monthly basis by default. This way, you can compare your expenses per month.<br> <br>

	                    <b>Money Received Category Distribution:</b> This graph shows all the categories you provided along with the amount of money you received per category.<br> <br>
                        
                        <b>Spending Category Distribution:</b> This graph shows all the categories you provided along with the amount of money you spent per category.<br> <br>
                </p>

                <p>
                    <b> Question 6: <br>
                        Can I contact the developers if I encounter any problems?
                        </b> <br>
                        Yes! On the Contact Us tab, you can find our team’s email address. It will take 2-3 working days before you can receive a response from our team.
                </p>
            </center>
        </div>
    </div>
</body>